<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zq.dao.DataFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zq.domain.DataField">
        <id column="id" property="id" />
        <result column="bussiness_key" property="bussinessKey" />
        <result column="prop" property="prop" />
        <result column="label" property="label" />
        <result column="field_type" property="fieldType" />
        <result column="width" property="width" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bussiness_key, prop, label,field_type,width
    </sql>

</mapper>
