<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zq.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="cn.zq.domain.UserRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, authority, desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_role
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_role
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.zq.domain.UserRole" >
    insert into user_role (id, name, authority,
      desc)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{authority,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.zq.domain.UserRole" >
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="authority != null" >
        authority,
      </if>
      <if test="desc != null" >
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="authority != null" >
        #{authority,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zq.domain.UserRole" >
    update user_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="authority != null" >
        authority = #{authority,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zq.domain.UserRole" >
    update user_role
    set name = #{name,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="getRoles" resultMap="BaseResultMap">
    select * from user_role
  </select>
  <select id="selectByUsername"  resultMap="BaseResultMap">
    select ur.*,urr.* from user_role_relation urr left join user_role ur on ur.id=urr.role_id
    where urr.username=#{username}
  </select>
</mapper>