<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zq.backstage.dao.PurchaseOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="cn.zq.backstage.domain.PurchaseOrderDetail" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="order_id" property="orderId" jdbcType="CHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="quantity_received" property="quantityReceived" jdbcType="INTEGER" />
    <result column="material_number" property="materialNumber" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, quantity, name, price, total_price, quantity_received, material_number, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from purchase_order_detail
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from purchase_order_detail
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.zq.backstage.domain.PurchaseOrderDetail" >
    insert into purchase_order_detail (id, order_id, quantity,
      name, price, total_price, 
      quantity_received, material_number, update_date
      )
    values (#{id,jdbcType=CHAR}, #{orderId,jdbcType=CHAR}, #{quantity,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, 
      #{quantityReceived,jdbcType=INTEGER}, #{materialNumber,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.zq.backstage.domain.PurchaseOrderDetail" >
    insert into purchase_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="quantityReceived != null" >
        quantity_received,
      </if>
      <if test="materialNumber != null" >
        material_number,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantityReceived != null" >
        #{quantityReceived,jdbcType=INTEGER},
      </if>
      <if test="materialNumber != null" >
        #{materialNumber,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zq.backstage.domain.PurchaseOrderDetail" >
    update purchase_order_detail
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantityReceived != null" >
        quantity_received = #{quantityReceived,jdbcType=INTEGER},
      </if>
      <if test="materialNumber != null" >
        material_number = #{materialNumber,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zq.backstage.domain.PurchaseOrderDetail" >
    update purchase_order_detail
    set order_id = #{orderId,jdbcType=CHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      quantity_received = #{quantityReceived,jdbcType=INTEGER},
      material_number = #{materialNumber,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=DATE}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="getList" resultMap="BaseResultMap">
    select * from purchase_order_detail
  </select>
</mapper>